.label-with-info {
  display: flex;
  gap: 6px;
  align-items: center;
  width: fit-content;
  // margin-bottom: 0.5em;

  .icon {
    display: flex;
    align-items: center;

    color: var(--muted-foreground);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .label {
    color: var(--muted-foreground);
    line-height: 1.5;
  }

  .required {
    color: var(--color-error);
  }

  .info-icon {
    margin-bottom: 1px;

    color: var(--foreground);
  }
}
